<ion-tab-bar slot="bottom" class="mb-tab-bar">

  <ion-tab-button (click)="openPage('loggedin-home')" class="mb-tab-btn">
    <img src="/assets/pooja.png" class="mb-center-fab-img" />
    <ion-label>Pooja</ion-label>
  </ion-tab-button>

  <ion-tab-button (click)="openPage('openfindmandir')" class="mb-tab-btn">
    <img src="/assets/temple.png" class="mb-center-fab-img" />
    <ion-label>Temple</ion-label>
  </ion-tab-button>

  <!-- 
  <ion-tab-button class="mb-tab-spacer" disabled></ion-tab-button> -->
  <!-- 
  <ion-tab-button class="mb-tab-btn" (click)="openPage('open-community-page')">
    <div class="custom-tab-icon"></div>
  </ion-tab-button>
   -->

  <ion-tab-button class="mb-tab-btn mb-tab-center" (click)="openPage('open-community-page')">
    <img src="/assets/yagna2.png" class="mb-center-fab-img" style="
        width: 49px;
        height: 49px;
        border-radius: 50%;
        object-fit: cover;
      " />
  </ion-tab-button>



  <ion-tab-button (click)="action4()" class="mb-tab-btn">
    <img src="/assets/pandit.png" class="mb-center-fab-img" />
    <ion-label>Pandit Ji</ion-label>
  </ion-tab-button>

  <ion-tab-button (click)="openPage('jajmandashboard')" class="mb-tab-btn">
    <img 
    [src]="profilePhotoUrl" 
    class="mb-center-fab-img mb-tab-avatar-img"
    (error)="profilePhotoUrl = 'assets/user.png'"
  />
    <ion-label>{{ userDetails?.FullName?.split(' ')?.[0] || 'Me' }}</ion-label>
  </ion-tab-button>

</ion-tab-bar>