<ion-tab-bar slot="bottom" class="mb-tab-bar">

  <ion-tab-button class="mb-tab-btn" (click)="openPage('login')">
    <img src="/assets/pooja.png" class="mb-center-fab-img" />
    <ion-label>Pooja</ion-label>
  </ion-tab-button>

  <ion-tab-button class="mb-tab-btn" (click)="openPage('openfindmandir')">
    <img src="/assets/temple.png" class="mb-center-fab-img" />
    <ion-label>Temple</ion-label>
  </ion-tab-button>


  <!-- Empty spacer in center -->
  <!-- <ion-tab-button class="mb-tab-spacer" disabled></ion-tab-button> -->


  <ion-tab-button class="mb-tab-btn" (click)="openPage('open-community-page')">
    <img src="/assets/yagna2.png" class="mb-center-fab-img" style="
        width: 49px;
        height: 49px;
        border-radius: 50%;
        object-fit: cover;
      " />
  </ion-tab-button>

  <ion-tab-button class="mb-tab-btn" (click)="action5()">
    <img src="/assets/pandit.png" class="mb-center-fab-img" />
    <ion-label>Pandit ji</ion-label>
  </ion-tab-button>

  <ion-tab-button class="mb-tab-btn" (click)="openPage('login')">
    <img src="/assets/user.png" class="mb-center-fab-img" />
    <ion-label>Signup</ion-label>
  </ion-tab-button>

</ion-tab-bar>