<ion-tab-bar slot="bottom" class="mb-tab-bar">

  <ion-tab-button class="mb-tab-btn" (click)="openPage('login')">
    <ion-icon name="sparkles-outline"></ion-icon>
    <ion-label>Explore Life</ion-label>
  </ion-tab-button>

  <ion-tab-button class="mb-tab-btn" (click)="openPage('openfindmandir')">
    <ion-icon name="map-outline"></ion-icon>
    <ion-label>Temple</ion-label>
  </ion-tab-button>


  <!-- Empty spacer in center -->
  <!-- <ion-tab-button class="mb-tab-spacer" disabled></ion-tab-button> -->


  <ion-tab-button class="mb-tab-btn" (click)="openPage('open-community-page')">
    <div class="custom-tab-icon"></div>
  </ion-tab-button>

  <ion-tab-button class="mb-tab-btn" (click)="openPage('login')">
    <ion-icon name="chatbubbles-outline"></ion-icon>
    <ion-label>Ask Pandit</ion-label>
  </ion-tab-button>

  <ion-tab-button class="mb-tab-btn" (click)="openPage('login')">
    <ion-icon name="person-outline"></ion-icon>
    <ion-label>Signup</ion-label>
  </ion-tab-button>

</ion-tab-bar>