<ion-tab-bar slot="bottom" class="mb-tab-bar">

  <ion-tab-button class="mb-tab-btn" (click)="openPage('tabs/tab3')">
    <ion-icon name="sparkles-outline"></ion-icon>
    <ion-label>Explore Life</ion-label>
  </ion-tab-button>

  <ion-tab-button class="mb-tab-btn" (click)="openPage('tabs/tab2')">
    <div class="custom-tab-icon"></div>
  </ion-tab-button>


  <ion-tab-button class="mb-tab-btn" (click)="openPage('tabs/tab1')">
    <span style="font-size: 24px; line-height: 1;">🛕</span>
    <ion-label>{{ userDetails?.FullName?.split(' ')?.[0] || 'Me' }}</ion-label>
  </ion-tab-button>

</ion-tab-bar>