
<style>
  /* Default image style */
  img {
    width: 90%;
    height: auto;
  }

  /* High-resolution images (e.g., Retina displays) */
  @media only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    img {
      width: 90%; /* Adjust this value as needed */
    }
  }

  /* Ultra-high-resolution images (e.g., 4K displays) */
  @media only screen and (min-resolution: 384dpi), only screen and (min-resolution: 4dppx) {
    img {
      width: 95%; /* Adjust this value as needed */
    }
  }
</style>
 <br />
  <img src="../../assets/module/home2.png" />
 
