<ion-tabs>
  <ion-tab-bar slot="bottom" class="mb-tab-bar">

    <!-- 1. Explore Life -->
    <ion-tab-button class="mb-tab-btn" tab="tab3" href="/tabs/tab3">
      <img src="/assets/pooja.png" class="mb-center-fab-img" />
      <ion-label>Pooja</ion-label>
    </ion-tab-button>

    <!-- 2. Temples -->
    <ion-tab-button tab="openfindmandir" class="mb-tab-btn" href="/tabs/openfindmandir">
      <img src="/assets/temple.png" class="mb-center-fab-img" />
      <ion-label>Temple</ion-label>
    </ion-tab-button> 

    <ion-tab-button class="mb-tab-btn mb-tab-center" (click)="openPage('open-community-page')">
      <img src="/assets/yagna2.png" class="mb-center-fab-img" />
    </ion-tab-button>

    <!-- 4. Dan / Dakshina -->
    <ion-tab-button class="mb-tab-btn" tab="find-pandit" href="/tabs/find-pandit">
      <img src="/assets/pandit.png" class="mb-center-fab-img" />
      <ion-label>Pandit Ji</ion-label>
    </ion-tab-button>

    <!-- 5. Profile / Me -->
    <ion-tab-button class="mb-tab-btn" tab="tab1" href="/tabs/tab1">
      <!-- <div class="mb-tab-avatar">
        {{ userDetails?.FullName?.split(' ')?.[0]?.[0]?.toUpperCase() || 'M' }}
      </div> -->
    <img src="/assets/user.png" class="mb-center-fab-img" />
      <ion-label>{{ userDetails?.FullName?.split(' ')?.[0] || 'Me' }}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>